{% extends 'admin.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
{% endblock %}

{% block pagetitle %}
Ajouter un nouvel utilisateur
{% endblock %}

{% block menu %}
    <a  class="pull-right navi" href="{{ path('finortho_admin_homepage') }}">Fichers envoyés</a>
    <a  class="pull-right navi" href="{{ path('finortho_admin_list_users') }}">Utilisateurs</a>
{% endblock %}

{% block body %}

    <div class="container">

        <form method="post" >
            <div class="form-group">
                <label for="nom">Nom d'utilisateur</label>
                <input type="text" class="form-control" id="nom" name="username" required>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" name="email" required>
            </div>
            <div class="form-group">
                <label for="password">Mot de passe</label>
                <input type="password" class="form-control" id="password" name="password" required>
            </div>

            <div id="actions">
                <button type="submit" class="btn  start pull-right">
                    <i class="icon ion-plus"></i>
                    Ajouter
                </button>
            </div>
        </form>

    </div>



{% endblock %}


{% block javascripts %}
    <script type="text/javascript" src="{{ asset('js/button_effect.js') }}"></script>
{% endblock %}
