{% extends 'FinorthoAdminBundle:Interface:index.html.twig' %}

{% block title %}
    Ajouter une exigence
{% endblock %}

{% block content -%}
        <h4>Créer une nouvelle exigence</h4>

        {{ form(form) }}

        <div id="actions" class="pull-right">
            <a href="{{ path('packproperty') }}">
                <button class="btn cancel">
                    Retour à la liste
                </button>
            </a>
        </div>
{% endblock %}
