{% extends 'FinorthoAdminBundle:Interface:index.html.twig' %}

{% block title %}
    Éditer le pack
{% endblock %}


{% block content -%}
        <h4>Editer</h4>

        {{ form(edit_form) }}

        <div id="actions" class="pull-right">
            <a href="{{ path('packitem') }}">
                <button class="btn cancel">
                    retour à la liste
                </button>
            </a>
            {{ form(delete_form) }}
        </div>
{% endblock %}
