{% extends 'FinorthoAdminBundle:Interface:index.html.twig' %}

{% block title %}
    Ajouter un pack
{% endblock %}

{% block content -%}
    <h4>Créer un nouveau pack</h4>

    {{ form(form) }}

    <div id="actions" class="pull-right">
        <a href="{{ path('packitem') }}">
            <button class="btn cancel">
                Retour à la liste
            </button>
        </a>
    </div>
{% endblock %}

