<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('node_modules/bootstrap/dist/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('node_modules/font-awesome/css/font-awesome.min.css') }}">
    {% block stylesheets %}
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>

<div class="header">
    <div class="row">
        <div class="col col-md-4">
            <h3>{% block pagetitle %}{% endblock %}</h3>
        </div>
        <div class="col col-md-8" id="menu">
            {% block menu %}
            {% endblock %}
        </div>
    </div>

</div>

{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>
